.input-form {
    width: 460px;
}

.credential-input-row {
    margin-bottom: 5px;

    height: 40px;
}

.credential-input-field {
    padding: 9px 9px;

    font-size: 16px;

    border: 1px 1px black;
}
.credential-input-field::placeholder {
    font-size: 16px;
}

.form-button-row {
    margin-left: auto;
    padding-right: 3px;
    
    height: 40px;
    width: fit-content;
}

.custom-button {
    height: 100%;
    width: 90px;

    background-color: rgb(var(--accent-color));
    color: rgb(var(--light-font-color));
    font-family: rgb(var(--regular-font));

    border-width: 0;
}

.custom-button:active {
    transform: scale(0.95); 
    box-shadow: 3px 2px 22px 2px rgb(var(--quaternary-color));
}